<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/pessoas/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabpessoas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umaPessoa : ${listaPessoas}">
                    <td th:text="${umaPessoa.id}"></td>
                    <td th:text="${umaPessoa.nome}"></td>
                    <td th:text="${umaPessoa.telefone}"></td>
                    <td>
                        <a th:href="@{'/pessoas/alterar/' + ${umaPessoa.id}}" class="btn btn-warning">Alterar</a>
                        <a th:href="@{'/pessoas/deletar/' + ${umaPessoa.id}}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>