<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/produtossofa/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabprodutosofa">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th>Largura</th>
                    <th>Comprimento</th>
                    <th>Preço</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umProduto : ${listaProdutos}">
                    <td th:text="${umProduto.id}"></td>
                    <td th:text="${umProduto.modelo}"></td>
                    <td th:text="${umProduto.cor}"></td>
                    <td th:text="${umProduto.largura}"></td>
                    <td th:text="${umProduto.comprimento}"></td>
                    <td th:text="${'R$ ' + umProduto.preco}"></td>
                    <td>
                        <a th:href="@{'/produtossofa/alterar/' + ${umProduto.id}}" class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete" th:data-id="${umProduto.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <div class="modal" tabindex="-1" id="modalprodutosofa">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que quer excluir o Produto?</p>
                <p><b>ATENÇÃO</b>: Se não estiver conseguindo excluir um PRODUTO provavelmente ele deve estar associado em outro cadastro!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
            </div>
            </div>
        </div>
    </div>
    <footer th:include="layout :: footer"></footer>
    <script th:src="@{/script4.js}"></script>
</body>

</html>